<div class="home-container">
    <div class="home-content">
        <h1>Bienvenue sur Jeu Fa !</h1>
        <p class="subtitle">Un jeu de hasard et de stratégie inspiré de la tradition africaine.</p>
        <div class="actions">
            <button class="play-btn" (click)="goToMatchmaking()">Jouer</button>
            <button class="rules-btn">Règles du jeu</button>
        </div>
        <div class="illustration">
            <img src="/assets/images/boconon-okpele.png" alt="Illustration Jeu Fa" />
        </div>
    </div>
</div>