<div class="auth-container">
    <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Connexion</h2>
        <div class="form-group">
            <input id="email" name="email" type="email" placeholder="Email" formControlName="email" required />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">Email invalide.</div>
        </div>
        <div class="form-group">
            <input id="password" name="password" type="password" placeholder="Mot de passe" formControlName="password"
                required />
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">Mot de passe
                requis (min 8 caractères).</div>
        </div>
        <button type="submit" [disabled]="form.invalid">Se connecter</button>
    </form>
</div>